/* CSS RESET */
* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header {
	width: 1200px;
	margin: 0 auto;
}

.header::after {
	clear: both;
	display: block;
	content: "";
}

.header__nav {
	float: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

.header__text {
	display: inline-block;
	font-size: 14px;
	color: #757575;
	margin-left: 36px;
	position: relative;
}

.header__text a:link {
	color: #757575;
}

.header__text a:visited {
	color: #757575;
}

.logo__area {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.logo {
	display: inline-block;
}

.bottom__menu {
	width: 1200px;
	margin: 0 auto;
}

.menu {
	width: 1200px;
	margin: 0 auto;
}

.menu__text {
	display: inline-block;
	font-size: 18px;
	color: black;
	padding: 23px 59px 20px 60px;
}

.menu__text:first-child {
	padding-left: 0px;
}

.menu__text:last-child {
	padding-right: 0px;
}

.menu__text a:visited {
	color: black;
}

.menu__text a:link {
	color: black;
}

.menu__text a:hover {
	color: #30cfc0;
}

.jbfixed {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	background-color: #ffffff;
}

.container {
	width: 1200px;
	margin: 40px auto;
}

.title1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.table1 {
	background-color: white;
	width: 1200px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	border-top: 3px solid #30cfc0;
	border-bottom: 3px solid #30cfc0;
}

.td2, .td3, .td4, .td5, .td6 {
	padding: 10px 10px;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 500
}

.table__content:first-child td {
	border-top: 1px solid white;
}

.td2 {
	width: 150px;
	text-align: center;
}

.td3 {
	width: 260px;
	text-align: center;
}

.td4 {
	width: 150px;
	text-align: center;
}

.td5 {
	width: 150px;
	text-align: center;
}

.td6 {
	width: 150px;
	text-align: center;
}

.td7 {
	width: 60px;
	text-align: center;
}

.icon {
	width: 150px;
}

.select {
	text-align: right;
	margin-top: 20px;
	color: #30cfc0;
}

.content2, .content3, .content4, .content5, .content6, .content7 {
	font-size: 16px;
}

.content2, .content3, .content4, .content5, .content6, .content7 {
	text-align: center;
}

.table__content td {
	border-top: 1px solid #e0e0e0;
	padding: 10px 10px;
	box-sizing: border-box;
}

.table__button {
	background-color: white;
	color: #e0e0e0;
	width: 60px;
	height: 30px;
	vertical-align: middle;
	font-size: 16px;
}
/* .table__button2{
    background: #30cfc0;
    border: 0;
    color: #FFF;
    width: 200px;
    height: 50px;
    padding: 15px;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 550px;
} */
.button1 {
	background: #30cfc0;
	border: 0;
	color: #FFF;
	width: 200px;
	height: 50px;
	padding: 15px;
	margin-top: 40px;
	font-size: 18px;
	margin-left: 520px;
}

.table__link, .table__link:visited, .table__link:link {
	color: black;
}

.close__icon {
	background-image: url(images/close.png);
	background-position: center;
	width: 14px;
	height: 14px;
	background-repeat: no-repeat;
	background-color: white;
	vertical-align: middle;
}

.content7 {
	position: relative;
}

/* 풋터 영역 */
.footer {
	width: 100%;
	background-color: #f5f5f5;
	border-top: 1px solid #eaeaea;
}

.footer__align {
	padding: 60px 0;
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer__align::after {
	display: block;
	content: "";
	clear: both;
}

.footer__content {
	color: #424242;
	padding-right: 193px;
	float: left;
	font-size: 16px;
}

.footer__content strong {
	font-size: 18px;
}

.footer__content ul {
	margin-top: 18px;
	line-height: 2.4;
}

.footer__content ul a:link, .footer__content ul a:visited,
	.footer__content ul a {
	color: #424242;
}

.footer__icon {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	padding-right: 10px;
}

.footer__content:last-child {
	padding-right: 0px;
}