/* CSS RESET */
@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* footer */
.footer {
	width: 100%;
	background-color: #f5f5f5;
	border-top: 1px solid #eaeaea;
}

.footer__align {
	padding: 60px 0;
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.footer__align::after {
	display: block;
	content: "";
	clear: both;
}

.footer__content {
	color: #424242;
	padding-right: 193px;
	float: left;
	font-size: 16px;
}

.footer__content strong {
	font-size: 18px;
}

.footer__content ul {
	margin-top: 18px;
	line-height: 2.4;
}

.footer__content ul a:link, .footer__content ul a:visited,
	.footer__content ul a {
	color: #424242;
}

.footer__icon {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	padding-right: 10px;
}

.footer__content:last-child {
	padding-right: 0px;
}