/* CSS RESET */
* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container {
	width: 680px;
	margin: 60px auto;
	margin-bottom: 80px;
}

.table1 {
	margin: 0 auto;
	width: 680px;
	height: 384px;
	border: 1px solid #e0e0e0;
	border-top: 3px solid #30cfc0;
	padding: 40px 30px;
	box-sizing: border-box;
	text-align: center;
}

.title1 {
	font-size: 24px;
	padding: 30px 0px;
}

.td1 {
	font-size: 18px;
	width: 100px;
	background-color: #eafaf9;
}

.td2 {
	font-size: 16px;
	background-color: #eafaf9;
}

.button2 {
	background: #30cfc0;
	border: 0;
	color: #FFF;
	width: 200px;
	height: 50px;
	padding: 4px;
	margin-top: 40px;
	margin-left: 240px;
	font-size: 18px;
	vertical-align: middle;
}