/* CSS RESET */
@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
.container {
	height: auto;
	min-height: 100%;	
}

.list-top {
	width: 100%;
	position: relative;
}

.list-top__img {
	width: 100%;
	opacity: 0.2;
	height: 400px;
}

.suit-share__title {
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 36px;
	font-weight: 400;
}

.suit-share__title span {
	font-weight: 600;
}

.suit-share__text {
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 16px;
	line-height: 2.0;
}

.content {
	width: 1200px;
	margin: 40px auto;
}

.product__title {
	color: #30cfc0;
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 20px;
}

.product__title span {
	font-weight: 600;
}

.product__table {
	border-top: 3px solid #30cfc0;
	border-bottom: 3px solid #30cfc0;
	width: 1200px;
}

.product__content {
	border: 1px solid #e0e0e0;
	text-align: left;
	width: 883px;
	padding: 20px;
	padding-left: 40px;
	line-height: 1.8;
	font-size: 16px;
	box-sizing: border-box;
}

.product__content__title {
	border: 1px solid #e0e0e0;
	text-align: center;
	width: 311px;
	padding: 20px;
	font-size: 18px;
	font-weight: 600;
	box-sizing: border-box;
}

.btn_ok {
	background-color: #30cfc0;
	color: white;
	width: 149px;
	height: 43px;
	padding: 10px;
	font-size: 18px;
	margin-top: 30px;
	float: right;
}

.btn_part::after {
	clear: both;
	content: "";
	display: block;
}

.btn_part {
	margin-bottom: 50px;
}