/* CSS RESET */
* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.content {
	width: 1200px;
	margin: 40px auto;
}

.title1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.form1 {
	width: 1200px;
	box-sizing: border-box;
}

.table1 {
	text-align: center;
	border-top: 3px solid #30cfc0;
	border-bottom: 3px solid #30cfc0;
	width: 1200px;
	box-sizing: border-box;
}

.table__title1, .table__title2, .table__title3 {
	padding: 10px 10px;
	box-sizing: border-box;
	font-size: 20px;
	font-weight: 500;
	width: 240px;
	background-color: #f9f9f9;
	vertical-align: middle;
}

.table__title2 {
	height: 400px;
}

.table__title1, .table__title3 {
	height: 50px;
}

.table__content:first-child td {
	border-top: 1px solid white;
}

.table__input {
	text-align: left;
	border: 1px solid #e0e0e0;
	width: 935px;
	height: 36px;
	box-sizing: border-box;
	padding: 0px 5px;
	font-size: 16px;
}

.table__input option {
	font-size: 16px;
}

.table__input2 {
	text-align: left;
	border: 1px solid #e0e0e0;
	width: 935px;
	height: 390px;
	box-sizing: border-box;
	padding: 5px 5px;
	font-size: 14px;
}

.table__input3 {
	text-align: left;
	border: 1px solid #e0e0e0;
	width: 935px;
	height: 36px;
	box-sizing: border-box;
	padding: 5px 5px;
	font-size: 14px;
}

.td__calendar {
	width: 1200px;
	height: 700px;
}

.btn_ok {
	background-color: #30cfc0;
	color: white;
	width: 149px;
	height: 43px;
	padding: 10px;
	font-size: 18px;
	margin-top: 30px;
	float: right;
}

.btn_part::after {
	clear: both;
	content: "";
	display: block;
}

.btn_part {
	margin-bottom: 70px;
}