/* CSS RESET */
@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

@import
	url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: 'Montserrat', 'NanumSquare', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	width: 680px;
	margin: 40px auto;
	height: auto;
	min-height: 100%;
}

.container-wrap {
	height: 976px;
}

.title1 {
	font-size: 28px;
	margin-bottom: 10px;
}

.title3 {
	text-align: right;
	margin-bottom: 10px;
	color: #30cfc0;
}

.title4 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.title5 {
	margin-bottom: 10px;
}

.form2 {
	height: 144px;
	border: 2px solid blue;
}

.form1, .form2 {
	width: 680px;
	border: 1px solid #e0e0e0;
}

.form1 {
	border-top: 3px solid #30cfc0;
	padding: 20px 30px;
	height: 553px;
	box-sizing: border-box;
}

.table1 {
	width: 640px;
	margin: 0 auto;
	height: 500px;
}

.table_title {
	font-size: 18px;
}

.td {
	width: 80px;
	font-size: 18px;
	font-weight: 600;
}

.td1 {
	width: 70px;
	font-size: 18px;
	font-weight: 600;
}

.input1 {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 302px;
	height: 35px;
	border: 1px solid #e0e0e0;
	margin-left: 35px;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 14px;
}

.input2 {
	width: 98px;
	height: 35px;
	border: 1px solid #e0e0e0;
	margin-left: 35px;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 14px;
}

.input3 {
	width: 98px;
	height: 35px;
	border: 1px solid #e0e0e0;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding-left: 10px;
	font-size: 14px;
}

.input4 {
	width: 150px;
	height: 35px;
	border: 1px solid #e0e0e0;
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 14px;
}

.button1 {
	background: #30cfc0;
	border: 0;
	color: #FFF;
	width: 148px;
	height: 35px;
	padding: 8px;
	box-sizing: border-box;
	font-size: 16px;
	vertical-align: middle;
}

.button2 {
	background: #30cfc0;
	border: 0;
	color: #FFF;
	width: 200px;
	height: 50px;
	padding: 14px;
	margin-top: 40px;
	margin-left: 240px;
	font-size: 18px;
	vertical-align: middle;
}

.li1 {
	display: list-item;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.li2 {
	display: list-item;
	list-style: none;
	margin-bottom: 10px;
	margin-left: 50px;
}

.agree .all_agree input[type="checkbox"] {
	display: none;
}

.agree .all_agree input[type="checkbox"]+label {
	display: inline-block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
}

.agree .all_agree:after {
	display: block;
	clear: both;
	content: "";
}

.agree .all_agree input[type="checkbox"]:checked+label {
	background: url(../images/check.png) #30cfc0 no-repeat center/10px 10px;
}

.agree {
	position: relative;
}

.li1 input[type="checkbox"]+label span {
	position: absolute;
	display: block;
	left: 50px;
}

.li2 input[type="checkbox"]+label span {
	position: absolute;
	display: block;
	left: 80px;
}

.btn, .btn:link, .btn:visited {
	color: #30cfc0;
}